# Android / Gradle
.gradle/
build/
*.apk
*.apkm
*.aab
cmdline-tools/
cmdline-tools.zip
gradle-wrapper.jar
local.properties

# Python
__pycache__/
*.pyc
.env
*.egg-info/

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db
